<form>
    <input name="host" placeholder="127.0.0.1" value="{{host}}">
    <input name="port" type="number" placeholder="4242" value="{{port}}">

    <button type="button" value="scoreboard">Scoreboard</button>
    <button type="button" value="admin">Admin</button>
</form>