@font-face {
    font-family: gyparody;
    font-weight: normal;
    src: url('../fonts/gyparody rg.ttf');
}
@font-face {
    font-family: gyparody;
    font-weight: bold;
    src: url('../fonts/gyparody hv.ttf');
}

@font-face {
    font-family: ubuntu;
    font-weight: normal;
    src: url('../fonts/Ubuntu-R.ttf');
}
@font-face {
    font-family: ubuntu;
    font-weight: bold;
    src: url('../fonts/Ubuntu-B.ttf');
}