@font-face {
  font-family: gyparody;
  font-weight: normal;
  src: url('../../assets/fonts/gyparody rg.ttf');
}

@font-face {
  font-family: gyparody;
  font-weight: bold;
  src: url('../../assets/fonts/gyparody hv.ttf');
}

@font-face {
  font-family: ubuntu;
  font-weight: normal;
  src: url('../../assets/fonts/Ubuntu-R.ttf');
}

@font-face {
  font-family: ubuntu;
  font-weight: bold;
  src: url('../../assets/fonts/Ubuntu-B.ttf');
}